{% extends 'base.html' %}
{% load static %}

{% block title %} Perfil de {{ client.name }} {% endblock %}

{% block style %} 
    <link href="{% static 'theme/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Client Info Card -->
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ client.name }}</h6>
        </div>
        <!-- Page body -->
        <div class="card-body">
            <div class="mb-4 text-gray-800">
                <!-- Phone number field -->
                <span class="icon text-primary">
                    <i class="fas fa-phone-alt mr-2"></i>
                </span>
                <strong>‎Número:</strong>
                <span class="ml-2">{{ client.get_phone }}</span><br>
                <!-- End of phone number field -->

                <hr class="sidebar-divider d-md-block">
                
                <!-- Email field -->
                <span class="icon text-primary">
                    <i class="fas fa-envelope mr-2"></i>
                </span>
                <strong>Email:</strong>
                <span class="ml-2">{{ client.email }}</span><br>
                <!-- End of email field -->

                <hr class="sidebar-divider d-md-block">

                <!-- CPF field -->
                <span class="icon text-primary">
                    <i class="fas fa-user mr-2"></i>
                </span>
                <strong>CPF:</strong>
                <span class="ml-2">{{ client.get_cpf }}</span><br>
                <!-- End of CPF field -->

                <hr class="sidebar-divider d-md-block">

                <!-- Address field -->
                <span class="icon text-primary">
                    <i class="fas fa-home mr-2"></i>
                </span>
                <strong>Endereço:</strong>
                <span class="ml-2">{{ client.address }}</span> <br>
                <!-- End of address field -->

                <hr class="sidebar-divider d-md-block">
                
                <!-- Status field -->
                <span class="icon text-primary">
                    <i class="fas fa-clock mr-2"></i>
                </span>
                <strong>Status:</strong> 
                {% if client.isActive %}
                    <span class="icon text-success ml-2">
                        <i class="fas fa-check mr-1"></i>
                    </span> 
                    Ativo
                {% else %}
                    <span class="icon text-gray-600 ml-2">
                        <i class="fas fa-times mr-1"></i>
                    </span>
                    Inativo
                {% endif %}
                <!-- End of Status field -->
                
                <hr class="sidebar-divider d-md-block">

                <!-- Debt field -->
                <span class="icon text-primary">
                    <i class="fas fa-money-bill-wave mr-2"></i>
                </span>
                <strong>Pendências:</strong> 
                {% if client.hasDebt %}
                    <span class="icon text-danger ml-2">
                        <i class="fas fa-exclamation-triangle mr-1"></i>
                    </span> 
                    Dívida em aberto
                {% else %}
                    <span class="icon text-success ml-2">
                        <i class="fas fa-check mr-1"></i>
                    </span>
                    Em dia
                {% endif %}
                <!-- End of Debt field -->

            </div>


            <div class="float-right">
                {% if client.isActive %}
                    <a href="{% url 'archive_client' client.id %}" class="btn btn-primary">Arquivar</a>
                {% else %}
                    <a href="{% url 'unarchive_client' client.id %}" class="btn btn-primary">Desarquivar</a>
                {% endif %}
                <a href="{% url 'update_client' client.id %}" class="btn btn-info">Editar</a>
                <a href="{% url 'delete_client' client.id %}" class="btn btn-danger">Apagar</a>
            </div>
            
        </div>
    </div>     

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Vendas</h6>
        </div>
        <!-- Page body -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <!-- Table head -->
                    <thead>
                        <tr>
                            <th>Produtos</th>
                            <th>Preço</th>
                            <th>Data</th>
                        </tr>
                    </thead>

                    <!-- Table body -->
                    <tbody>
                        {% for sale in sales %}
                        <tr>
                            <td>{{ sale.products }}</td> 
                            <td>{{ sale.price}}</td>
                            <td>{{ sale.sale_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %} 
    <script src="{% static 'theme/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'theme/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'theme/js/demo/datatables-demo.js' %}"></script>
{% endblock %} 
