@font-face {
    font-family: "Flux font";
    src: url("fonts/Renogare-Regular.otf") format("opentype");
}

.sidebar-brand-text {
    font-family: "Flux font";
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
}

.bg-dark {
    background-color: #262e3a !important;
}

.bg-secondary {
    background-color: #181e29 !important;
}

.bg-login-image {
    background: url("https://raw.githubusercontent.com/vnsrz/MDS-Flux/00ff3a60c9033bb84e3d332468da03acfb937059/docs/assets/flux-login-sqr.png");
    background-position: center;
    background-size: cover;
  }
  
  .bg-register-image {
    background: url("https://raw.githubusercontent.com/vnsrz/MDS-Flux/00ff3a60c9033bb84e3d332468da03acfb937059/docs/assets/flux-login.png");
    background-position: center;
    background-size: cover;
  }
  
  .bg-password-image {
    background: url("https://source.unsplash.com/oWTW-jNGl9I/600x800");
    background-position: center;
    background-size: cover;
  }

/* #181e29 */
