<!DOCTYPE html>
<html>
<head>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .center {
        text-align: center;
    }
</style>
</head>
<body>
    {% autoescape off %}
    Olá {{ user }},<br>
    Recebemos um pedido para alterar a senha da conta associada a este email. Para iniciar o processo de alteração da senha, clique no link abaixo.
    <br><br>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Alterar senha</a>
    <br><br>
    Se você não tentou alterar sua senha, ignore este email.
    <br><br><br><br>

    <img src="https://raw.githubusercontent.com/viniciusroriz/MDS-Flux/email_auth/static/logo/logo-2-tp.png" alt="logo" style="width:80%;"/>
    <br>
    <div class="center">
        <a href="{{ protocol }}://{{ domain }}">Website</a> | <a href="https://github.com/viniciusroriz/MDS-Flux">Github</a>
    </div>
    
    {% endautoescape %}
</body>

