{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Flux - Alteração de senha</title>
    
        <!-- Custom fonts for this template-->
        <link href="{% static 'theme/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="{% static 'theme/css/sb-admin-2.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <link rel='icon' type='image/svg+xml' href="{% static 'logo/flux.svg' %}"/>

    </head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            
            <div class="col-xl-10 col-lg-12 col-md-9">
                
                <div class="card o-hidden border-0 shadow-lg my-5">
                    
                    <div class="card-body p-0">
                        
                        <div class="d-flex justify-content-center p-5 allign-middle">
                                <div class="text-center">

                                    <h1 class="h4 text-gray-800 mb-3">Redefinição de senha enviada</h1>
                                    <h1 class="h5 text-gray-600 mb-3">
                                        
                                        Nós enviamos um email com instruções para configurar sua senha. Você receberá a mensagem em breve.

                                        <p></p>

                                        Se você não recebeu um email, por favor certifique-se que o endereço fornecido  
                                        está cadastrado, e verifique sua pasta de spam.
                                        
                                    </h1>
                                    <a class="small" href="{% url 'login' %}">Retornar à tela de login</a>

                                </div>                               
                            </div>                           
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
