{% autoescape off %}
Olá {{ user }},

Recebemos um pedido para alterar a senha da conta associada a este email. Para iniciar o processo de alteração da senha, clique no link abaixo.
\n
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
\n
Este link só pode ser usado uma vez. Se você precisar alterar a senha novamente, acesse {{ protocol }}://{{domain}} e requisite outra alteração.

Se você não tentou alterar sua senha, ignore este email.

\n
-------------------- Flux --------------------
https://github.com/viniciusroriz/MDS-Flux

{% endautoescape %}