{% extends 'base.html' %}
{% load static %}

{% block title %}Flux - 404{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Página não encontrada.</p>
            <p class="text-gray-500 mb-0">Parece que a página que você está tentando acessar não existe...</p>
            <a href="{% url 'index' %}">&larr; Voltar ao início</a>
        </div>
    </div>
{% endblock %}