{% load static %}

    <!-- Sidebar -->
    <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <div class="bg-secondary static-top shadow">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'logo/flux.svg' %}" alt:"logo" height="32px"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Flux</div>
            </a>
        </div>
        
        <div class="my-1"> </div>

        <!-- Divider -->
        <!-- <hr class="sidebar-divider my-0" -->
        <ul class="navbar-nav accordion" id="items-nav">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Principal</span></a>
            </li>

            <!-- Nav Item - Clientes -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'clientes' %}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Clientes</span>
                </a>
            </li>

            <!-- Nav Item - Historico -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'historico' %}">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Histórico</span>
                </a>
            </li>

            <!-- Nav Item - Inventario -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'produtos' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Inventário</span>
                </a>
            </li>
        </ul>
        <!-- Divider -->
        <!-- <hr class="sidebar-divider d-none d-md-block"> -->
        
        <div class="my-3"> </div>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->